<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Savvy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD9D24BE1C6135FC001F75DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9D24D21C6135FC001F75DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9D24DD1C6135FC001F75DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
